.places {
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 5px;
}

.places > h1 {
    font-size: 30px;
    padding-left: 20px;
}

.listings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8%;
}
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}
.places h2 {
    font-size: 30px;
    text-align: center;
    margin: auto;
}

.listing_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 10px;
}

.price_by_night {
    color: #FF5A5F;
    padding: 5px;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
}

.price_by_night p {
    margin-top: 15px;
    text-align: center;
}
.information {
	height: 80px;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	display: flex;
	justify-content: center;
}
.information p {
    padding-top: 35px;
    text-align: center;
}
.max_guest, .number_rooms, .number_bathrooms {
	width: 100px;
}
.max_guest {
    background: url('../images/icon_group.png') no-repeat;
    margin-top: 6px;
    background-position-x: center;
}
.number_rooms{
    background: url('../images/icon_bed.png') no-repeat;
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
    background-position-x: center;
}
.number_bathrooms{
    background: url('../images/icon_bath.png') no-repeat;
    margin-top: 6px;
    background-position-x: center;
}

.listings .amenities {
    width: auto;
    flex: 1;
    height: auto;
    margin-top: 40px;
}

.amenities ul, .reviews ul {
    list-style: none;
    padding-left: 0px;
}

.amenities li {
    padding-bottom: 3px;
    text-indent: 30px;
}

.reviews li {
    padding-bottom: 3px;
}

.amenities h2, .reviews h2 {
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 5px;
    min-height: 0px;
    font-size: 16px;
    width: 100%;
    text-align: left;
}

.pet {
    background: url(../images/icon_pets.png) no-repeat;
    background-origin: content-box;
    background-size: contain;
}

.tv {
    background: url(../images/icon_tv.png) no-repeat;
    background-origin: content-box;
    background-size: contain;
}

.wifi {
    background: url(../images/icon_wifi.png) no-repeat;
    background-origin: content-box;
    background-size: contain;
}

.reviews {
    margin-top: 40px;
    width: 100%;
    flex: 1;
}
.reviews h3 {
    font-size: 14px;
    text-align: left;
    padding-left: 0px;
}
.reviews p {
    font-size: 12px;
    margin-top: -10px;
}
