section.places
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: -100;
    padding-bottom: 60px;
    padding-top: 30px;
}

section.places h1
{
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
}

section.places article
{
    position: relative;
    width: 390px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    padding: 20px;
    margin: 20px;
    top: 0px;
    vertical-align: top;
}

section.places article h2
{
    font-size: 30px;
    text-align: center;
}

section.places article div.price_by_night
{
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    min-width: 60px;
    font-size: 30px;
    border: 4px solid #FF5A5F;
    border-radius: 1000px;
    margin: 5px 5px 0 0;
    padding-top: 15px;
}

section.places article div.information
{
    display: inline-block;
    height: 80px;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #DDDDDD;
}

section.places article div.information div
{
    display: inline-block;
    width: 100px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 60px;
}

section.places article div.amenities
{
    text-align: left;
}

section.places article div.amenities h2
{
    text-align: left;
    border-bottom: 1px solid #DDDDDD
}

section.places article div.amenities ul li
{
    height: 34px;
    list-style: none;
    background-repeat: no-repeat;
    padding-left: 60px;
    padding-top: 16px;
}

section.places article div.amenities ul li.wifi
{
    background-image: url('../images/icon_wifi.png')
}

section.places article div.amenities ul li.pets
{
    background-image: url('../images/icon_pets.png')
}

section.places article div.amenities ul li.tv
{
    background-image: url('../images/icon_tv.png')
}


section.places article div.reviews
{
    text-align: left;
}

section.places article div.reviews h2
{
    text-align: left;
    border-bottom: 1px solid #DDDDDD
}

section.places article div.reviews ul li
{
    list-style: none;
}

section.places article div.information div.max_guest
{
    background-image: url('../images/icon_group.png')
}

section.places article div.information div.number_rooms
{
    background-image: url('../images/icon_bed.png')
}

section.places article div.information div.number_bathrooms
{
    background-image: url('../images/icon_bath.png')
}

section.places article div.user, section.places article div.description
{
    text-align: left;
}
