footer
{
    position: fixed;
    bottom: 0;
    background-color: #FFFFFF;
    height: 3em;
    width: 100%;
    text-align: center;
    margin: auto;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #CCCCCC;
}

footer p
{
    margin-top: 1em;
}
