.places {
    margin-left: 30px;
}

.places h1 {
    font-size: 30px;
}
.listings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}
.places h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 0;
}
